@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'SourceSerifVariable-Roman';
    src: url('/SourceSerifVariable-Roman.otf') format('opentype');

    /* font-weight: normal;
    font-style: normal; */
  }

  body {
    font-family: 'SourceSerifVariable-Roman', sans-serif;
    @apply text-xl;
  }

  @layer base {
    #__next {
      @apply contents;
    }
  
    html {
      @apply h-full scroll-smooth antialiased;
    }

    h2 {
      @apply text-2xl font-bold;
    }

  }



  /* @layer base {
    .container {
      @apply mx-auto, px-4;
    }
    .isRequired {
      @apply text-red-500, text-xs, font-bold;
  
    }
  } */
