@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'SourceSerifVariable-Roman';
    src: url('/SourceSerifVariable-Roman.otf') format('opentype');

    /* font-weight: normal;
    font-style: normal; */
  }

  body {
    font-family: 'SourceSerifVariable-Roman', sans-serif;
    @apply text-xl min-h-screen;
  }

  @layer base {
    #__next {
      @apply contents;
    }
  
    html {
      @apply h-full scroll-smooth antialiased;
    }

    h2 {
      @apply text-2xl font-bold;
    }

    h1 {
      @apply text-2xl sm:text-3xl md:text-4xl lg:text-4xl xl:text-6xl font-semibold;
    }

    h3 {
      @apply text-2xl;;
    }

    Link, a {
      @apply text-smartOrange;
    }

    ul Link, ul a, button a {
      @apply text-inherit;
    }

    p {
      @apply my-4;
    }

    /* section {
      @apply pt-[112px];
    } */

  }



  /* @layer base {
    .container {
      @apply mx-auto, px-4;
    }
    .isRequired {
      @apply text-red-500, text-xs, font-bold;
  
    }
  } */
