@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'SourceSerifVariable-Roman';
    src: url('/SourceSerifVariable-Roman.otf') format('opentype');

    /* font-weight: normal;
    font-style: normal; */
  }

  body {
    font-family: 'SourceSerifVariable-Roman', sans-serif;
  }

  /* .isRequired {
    @apply after:content-['*'] after:text-smartOrange after:absolute after:-right-[10px] after:-top-[2px];
  }

  .isRequired::after {
    @apply content-['*'] text-smartOrange absolute -right-[10px] -top-[2px];
  } */