@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
    font-family: 'SourceSerifVariable-Roman';
    src: url('/SourceSerifVariable-Roman.otf') format('opentype');

    /* font-weight: normal;
    font-style: normal; */
  }

  body {
    font-family: 'SourceSerifVariable-Roman', sans-serif;
    @apply text-base lg:text-lg min-h-screen max-w-full overflow-x-hidden; 
  }

  @layer base {
    #__next {
      @apply contents;
    }
  
    html {
      @apply h-full scroll-smooth antialiased;
    }

    h2 {
      @apply text-2xl sm:text-3xl md:text-4xl font-semibold;
    }

    h1 {
      @apply text-3xl sm:text-3xl md:text-3xl lg:text-3xl xl:text-6xl font-semibold leading-normal;
    }

    h3 {
      @apply text-xl lg:text-2xl font-semibold;
    }

    Link, a {
      @apply text-smartOrange;
    }

    ul Link, ul a, button a {
      @apply text-inherit;
    }

.article ul {
  @apply list-disc pl-6;
}

    p {
      @apply my-6;
    }

    /* section {
      @apply pt-[112px];
    } */

  }



  /* @layer base {
    .container {
      @apply mx-auto, px-4;
    }
    .isRequired {
      @apply text-red-500, text-xs, font-bold;
  
    }
  } */
